<a href="https://colab.research.google.com/github/monicana07/Intro-al-analisis-de-datos/blob/main/Trabajo_en_clase_M%C3%B3nica_08_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')
import pandas as pd
import matplotlib.pyplot as plt

Authenticated

Authenticated

In [4]:
df=pd.read_csv("LOGIC.csv")
data=pd.DataFrame(df)
print(data)

       inf  sexo  escolaridad  edad  casado_a  experiencia  pob_mul  \
0        0     0           12    18         0          121        0
1        0     0            8    48         0         2025        1
2        0     1            6    49         0         2304        0
3        0     1            0    40         0         2025        1
4        0     0            6    37         1         1296        0
...    ...   ...          ...   ...       ...          ...      ...
24646    0     1           17    56         0         1936        0
24647    0     0            6    74         1         5329        0
24648    0     1           11    68         1         3844        0
24649    0     0           17    61         0         2401        0
24650    0     1           13    42         0         1156        0

       migrante_2
0               1
1               0
2               1
3               2
4               1
...           ...
24646           2
24647           0
24648           1
24649           1
24650           1

[24651 rows x 8 columns]

**Un grupo de datos por dos columnas**

In [18]:
dataFiltered=data.loc[(data["escolaridad"]==22)&(data["sexo"]==1)]
print(dataFiltered)

       inf  sexo  escolaridad  edad  casado_a  experiencia  pob_mul  \
21069    0     1           22    47         0          900        0
21613    0     1           22    36         1          361        0
22129    0     1           22    82         0         4225        0
22648    0     1           22    70         0         2809        0
23120    0     1           22    65         1         2304        0
23463    0     1           22    67         1         2500        0
23594    0     1           22    63         0         2116        0
23916    0     1           22    69         0         2704        0
23925    0     1           22    64         1         2209        0
24022    0     1           22    50         1         1089        0
24068    1     1           22    58         1         1681        0
24098    0     1           22    54         0         1369        0
24102    0     1           22    42         1          625        0
24262    0     1           22    39         0          484        0
24344    1     1           22    35         1          324        0
24385    0     1           22    66         1         2401        0
24483    0     1           22    34         1          289        0
24618    0     1           22    67         0         2500        0

       migrante_2
21069           1
21613           0
22129           0
22648           0
23120           1
23463           0
23594           0
23916           2
23925           1
24022           0
24068           1
24098           1
24102           0
24262           1
24344           1
24385           1
24483           1
24618           1

**Realizar un sort de un grupo de datos y colocar los primeros 10**

In [19]:
print(dataFiltered.sort_values(by=["edad"],ascending=False).head(10))

       inf  sexo  escolaridad  edad  casado_a  experiencia  pob_mul  \
22129    0     1           22    82         0         4225        0
22648    0     1           22    70         0         2809        0
23916    0     1           22    69         0         2704        0
24618    0     1           22    67         0         2500        0
23463    0     1           22    67         1         2500        0
24385    0     1           22    66         1         2401        0
23120    0     1           22    65         1         2304        0
23925    0     1           22    64         1         2209        0
23594    0     1           22    63         0         2116        0
24068    1     1           22    58         1         1681        0

       migrante_2
22129           0
22648           0
23916           2
24618           1
23463           0
24385           1
23120           1
23925           1
23594           0
24068           1

**Realizar un promedio**

In [16]:
print("¿Cuál es la edad promedio de las mujeres con escolaridad 16?")
print(dataFiltered["edad"].mean())

¿Cuál es la edad promedio de las mujeres con escolaridad 16?
42.72461273666093

In [17]:
print(data["escolaridad"].max())

22

In [20]:
print("¿Cuál es la edad promedio de las mujeres con escolaridad 22?")
print(dataFiltered["edad"].mean())

¿Cuál es la edad promedio de las mujeres con escolaridad 22?
56.0

In [22]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated